.form {
    width: 1000px;
    height: 335px;
    text-align: center;
    /*border: 1px solid red;*/
    margin: 0 auto;

}

.form ul {
    margin-left: 2%;
    margin-top: -2%;
}

.form li {
    width: 42%;
    height: 5rem;
    /*border: 1px solid green;*/
    float: left;
    margin-top: 6%;
    margin-left: 5%;
    text-align: left;
}

.form li p {
    margin-bottom: 20px;
    font-size: 22px;
    color: #eee;
}

.form li .inp {
    width: 436px;
    height: 54px;
    line-height: 54px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    caret-color: #d2ac2b;
    font-size: 20px;
    color: #d2ac2b;
}

.form ul li .acti {
    border: 2px solid #d2ac2b;
}

::-webkit-input-placeholder {
    color: #c1c1c1;
    font-weight: lighter;
}

.order {
    width: 200px;
    height: 60px;
    line-height: 60px;
    background: #d2ac2b;
    border-radius: 5px;
    margin-left: 845px;
    margin-top: 30px;
    text-align: center;
}

.order p {
    font-size: 28px;
}
