/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  /*background: #0dcecb;*/
  color: #FFF;
}
main {
  overflow: hidden;
}
.overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.source {
  background: #FFF;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  position: absolute;
  margin: 0 auto;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
}
.source textarea {
  padding: 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: 0 none;
  font-family: arial, sans-serif;
  font-size: 1.2em;
}
.source .markup {
  height: 15%;
  border-bottom: 1px solid #ddd;
}
.source .css {
  height: 84%;
  border-radius: 10px;
}
.hidden {
  display: none;
}
h1 {
  font-size: 4em;
  padding: 1em 0 1em 0;
}
.inner {
  width: 960px;
  margin: 0 auto;
}
.load-container {
  /*border: 1px solid rgba(255, 255, 255, 0.2);*/
  width: 240px;
  height: 240px;
  float: left;
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.load-container a:link,
.load-container a:visited {
  position: absolute;
  bottom: 3px;
  font-size: 1.15em;
  text-align: center;
  left: 0;
  right: 0;
  text-decoration: none;
  color: #FFF;
}
.load-container a:link:hover,
.load-container a:visited:hover {
  text-decoration: underline;
}
.loader {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
a.twitter:link,
a.twitter:visited {
  font-size: 1.3em;
  line-height: 4em;
  float: left;
  margin: 30px 0 0 0;
  text-decoration: none;
  color: #FFF;
}
a.twitter:link:hover,
a.twitter:visited:hover {
  text-decoration: underline;
}
a.twitter img {
  border-radius: 50%;
  float: left;
  border: 1px solid #bbb;
  padding: 0.1em;
  background: #FFF;
}
a.twitter span {
  padding: 0 0 0 0.6em;
}
.link {
  text-decoration: none;
  color: #FFF;
}
.link:hover {
  text-decoration: underline;
}
.no-cssanimations .load-container .loader {
  text-indent: 0;
  text-align: center;
  color: #FFF;
  font-size: 17px;
  background: none;
  border: 0 none;
  width: auto;
  height: auto;
  margin: 1em auto;
  overflow: visible;
  box-shadow: none;
  -webkit-animation: none;
  animation: none;
}
.no-cssanimations .load-container .loader:before,
.no-cssanimations .load-container .loader:after {
  display: none;
}
@media (max-width: 960px) {
  .inner {
    width: 480px;
  }
}
@media (max-width: 500px) {
  .inner {
    width: 100%;
  }
  .load-container {
    width: 100%;
  }
}
