/*清除默认样式*/
*{
	margin: 0;
	padding: 0;
}
body{
	color: #ffffff;
	overflow: hidden;
	
	font-family: "宋体","times new roman";
}
.container{
	width: 1280px;
	height: 720px;
	margin: 0 auto;
	background: transparent;
	color: #ffffff;
}
a{
	text-decoration: none;
	outline: none;
}
li{
	list-style: none;
}

/*-------------头部导航条部分start----------*/
.header{
	position: fixed;
	top: 0px;
	width: 1280px;
	height: 128px;
	opacity: 0.75;
	background: #000000;
}
.header .small{
	font-size: 28px;
	color: #AD8017;
	letter-spacing: 0.99px;
}

.header .lt{
	position: absolute;
	left: 32px;
	top: 32px;
	width: 64px;
	height: 64px;
}
.hdleft p{	
	margin-left: 110px;
	position: absolute;
	bottom: 32px;
	font-size: 42px;
	color: #AD8017;
	letter-spacing: 1.48px;
	padding-top: 26px;
	margin-bottom: -10px;
	height: 86px;
}
.hdleft p span.small{
	font-size: 24px;
	position: absolute;
	top: 65px;
	width: 600px;
}
.hdleft p span{
	margin-left: 20px;
	font-size: 38px;
	color: #AD8017;
	letter-spacing: 1.48px;
	margin-top: 10px;
}
/*头部右边*/
.header .hdright{
	height: 48px;
	position: absolute;
	right: 32px;
}
.header .hdright p{
	display: inline-block;
}

.header .weather img{
	width: 64px;
	height: 64px;
	margin-right: 18px;
}
.header .weather span{
	display: inline-block;
	margin-top: -10px;
	font-size: 24px;
	vertical-align: top;
	
}
.header .line{
	width: 2px;
	height: 60px;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 32px;
}
.header .hdright div .time{
	margin-bottom: 4px;
	font-size: 24px;
}
.header .hdright div .data{
	font-size: 14px;
}
.apple{
	position: absolute;
	left: 200px;
	top: 10px;
	width: 600px;
	height: 50px;
	overflow:hidden; 
	margin:30px auto; 
}
.apple li{ display:block;width:100%; height:50px; line-height:25px; color:#f1f1f1;}
/*.aa {word-wrap:break-word;line-height:50px;  color:#1B96EE;}*/

/*-------------头部导航条部分end----------*/

/*详情页面左边的字体的颜色控制*/
.main .left p{
	color: #ececec !important;
}

/*视频播放样式控制*/
.firstPage_video {
	left: 50%;
	margin-left: -640px;
}
.contentIframe {
	width: 1280px;
	margin: 0 auto;
}
.video_container {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 1280px;
	height: 720px;
}
.videoStyle {
	object-fit:fill;
}

/*电视直播*/
.tvPage { position: relative; font-family: "微软雅黑"; }
.tvPage .header { position: static; height: auto; background: #000; opacity: 0.75; padding: 30px; box-sizing: border-box; }
.tvPage .header .logo { vertical-align: middle; width: 80px;}
.tvPage .header span { margin-left: 20px; font-size: 46px; color: #ecf50a; vertical-align: middle; letter-spacing: 5px;  }
.tvPage .main { margin: 10px 50px; overflow: hidden; }
.tvPage .main .leftMenu { float: left; width: 350px; height: 500px; background: #000; opacity: 0.75; overflow-y: auto; }
.tvPage .main .leftMenu ul li { padding: 15px; text-align: left;  }

.tvPage .main .leftMenu ul li:hover,.tvPage .main ul li.active { background: #985F0D;cursor: pointer; }
.tvPage .main .leftMenu ul li * { vertical-align: middle; color: #fff; font-size: 20px; letter-spacing: 2px; }
.tvPage .main .leftMenu ul li .tvicon { margin: 0 10px; }
.tvPage .main .leftMenu ul li .tvname { font-size: 22px; }
.tvPage .main .leftMenu ul li span.number { width: 30px; padding-left: 0;padding-right: 0;display: inline-block;}
.tvPage .main .leftMenu ul li img{width:100px;height:50px;}
.tvPage .main .rightBox { float: right; width: 820px; height: 550px; }
.tvPage .bgVideo { position: absolute; top: 0; left: 0; z-index: -1; }

