.tab_box ul {
    width: 860px;
    height: 255px;
    margin: 0 auto;
    border-bottom: 1px solid #aaa;
}

.tab_box ul li {
    width: 410px;
    height: 220px;
    color: #fff;
    text-align: left;
    color: #eee;
    font-size: 22px;
    margin-top: 20px;
    /*border: 1px solid red;*/
}

.tab_box ul:nth-child(1) {
    /*margin-top: 1%;*/
}

.tab_box ul li:nth-child(1) {
    border-right: 1px solid #c1c1c1;

}

/****************btn*********************/
*, *:after, *:before {
    box-sizing: border-box;
}

/*=====================*/
.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    -moz-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    -moz-font-language-override: normal;
    font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.checkbox label {
    width: 90px;
    height: 42px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox label:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.checkbox input:hover + label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox input:checked + label:after {
    left: 40px;
}

/*点击transition动画*/
.model .checkbox input:checked + label {
    background: #4BD865;
}

/*点击后长条的样式*/

.model {
    width: 26%;
    margin-left: 72%;
    margin-top: -6%;
}

.model .checkbox label {
    width: 82px;
    border: 3px solid transparent;
    /*border: 2px solid red;*/
}

.model .checkbox .lable {
    border: 3px solid #d2ac2b;
}

.model .checkbox label:after {
    top: 0;
    width: 36px;
    height: 36px;
}

/*圆球的样式*/

/*.model .checkbox input:checked + label:after {
    background: red;
}*/
/*点击后圆球的样式*/

.model-14 {
    position: relative;
    top: 8px;
}

.model-14 .checkbox:after, .model-14 .checkbox:before {
    content: 'OFF';
    position: absolute;
    right: 10px;
    top: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #eee;
}

.model-14 .checkbox:before {
    content: 'ON';
    left: -30px;
    z-index: 1;
    color: #fff;
}

.model-14 .checkbox label {
    background: transparent;
    height: 42px;
    border-radius: 4px;
    border: 2px solid #fff;
}

.model-14 .checkbox .label2 {
    border: 3px solid #d2ac2b;
}

.model-14 .checkbox label:after {
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 0;
    width: 42px;
    height: 38px;
}

.model-14 .checkbox input:checked + label:after {
    background: #4BD865;
    left: 45px;
}

/*开关*/
.bedroom {
    width: 400px;
    height: 460px;
    color: #eee;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    border-right: 1px solid #aaa;
    /*border: 1px solid red;*/
}

.bedroom .bed {
    font-size: 24px;
}

.bedroom .tem {
    font-size: 20px;
    margin-top: 20px;
}

.bedroom .tem_inp {
    width: 170px;
    height: 50px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 18px;
    /*border: 1px solid red;*/
}

.livingroom {
    width: 400px;
    height: 460px;
    color: #eee;
    position: relative;
    margin-top: -459px;
    margin-left: 455px;
    /*border: 1px solid red;*/
}

.livingroom .bed {
    font-size: 24px;
}

.livingroom .tem {
    font-size: 20px;
    margin-top: 20px;
}

.livingroom .tem_inp {
    width: 170px;
    height: 50px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 18px;
    /*border: 1px solid red;*/
}

.bed1 {
    width: 400px;
    height: 400px;
    /*border: 1px solid red;*/
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    border-right: 1px solid #c1c1c1;
}

.bed1 p {
    font-size: 24px;
    color: #eee;
}

.bed2 {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: -400px;
    margin-left: 50%;
    /*border: 1px solid red;*/
}

.bed2 p {
    font-size: 24px;
    color: #eee;
}

.curtain {
    width: 60%;
    height: 15rem;
    border: 1px solid green;
    position: relative;
    left: 20%;
    top: 5%;
}

.switch {
    width: 175px;
    height: 60px;
    position: relative;
    left: 30%;
    top: 30px;
    text-align: center;
    /*line-height: 5rem;*/
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    /*border: 1px solid red;*/
}

.progress {
    position: relative;
    width: 300px;
    margin: 40px auto;
}

.progress_bg {
    height: 6px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f2f2f2;
    margin-top: 10px;
}

.progress_bar {
    background: #aaaaaa;
    width: 0;
    height: 10px;
    border-radius: 5px;
}

.progress_btn {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    background: #aaaaaa;
    left: 0px;
    margin-left: -10px;
    top: 32px;
    cursor: pointer;
    box-sizing: border-box;
}

.progress_btn:hover {
    border-color: #F7B824;
}

.progress span {
    margin-right: 75px;
    font-size: 16px;
    color: #eee;
}
