<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/hotel_car.css" rel="stylesheet">
		<!--选项卡的引用-->
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../js/tab/jquery.js"></script>
		<script src="../js/tab/jquery.tabs.js"></script>
		<script src="../js/tab/jquery.lazyload.js"></script>
		<script type="text/javascript" src="../js/tab/lanrenzhijia.js"></script>

		<script src="../js/vue.min.js"></script>
	</head>

	<body>
		<div class="shadow"></div>
		<!--遮罩黑色背景-->
		<div class="content">
			<div class="header">
				<img id="logo" alt="" class="lt" />
				<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
				<div class="welcome">
					<p><span id="customer"></span></p>
					<p> <span id="roomNumber"></span></p>
				</div>
				<div class="weathertime">
					<ul>
						<li>
							<span id="dateweek"></span>
						</li>
						<li>
							<img src="../img/icon-weather.png" />
							<span id="wendu"></span>
						</li>
						<li>
							<img src="../img/icon-time.png" />
							<span id="timemm"></span>
						</li>
					</ul>
				</div>
			</div>

			<div id="wrapper">
				<div class="box demo2">
					<div class="title">
						<p id="top-title"></p>
					</div>

					<div class="form">
						<ul>
							<li>
								<p id="fromPlace"></p>
								<input type="text" class="inp acti" placeholder="People'Square" id="inp11">
							</li>
							<li>
								<p id="dateForm"></p>
								<input type="text" class="inp" placeholder="2017/08/08" id="inp22">
							</li>
							<li>
								<p id="ToCity"></p>
								<input type="text" class="inp" placeholder="Jing'an Monastery" id="inp33">
							</li>
							<li>
								<p id="time"></p>
								<input type="text" class="inp" placeholder="14:00-15:00" id="inp44">
							</li>
						</ul>
					</div>

					<div class="order">
						<p id="order"></p>
					</div>

				</div>
			</div>

			<div id="bottomVue" class="bottom_tiao">
				<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
				<img v-else src="../img/bottom-ch.png" />
			</div>
		</div>
		</div>
		<script src="../js/top.js"></script>
		<script src="../js/bottom.js"></script>
		<script>
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			//$("#timemm").html(time);
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}
			var fouIndex = 1; //当前焦点
			$("#inp11").focus();
			document.onkeydown = function(e) {
				if(!e) {
					e = window.event;
				}
				switch((e.keyCode || e.which)) {
					case 13: //回车
					case 29443:
						if(fouIndex == 5) {
							window.location.href = "CarInfo.html";
						}
						break;
					case 37: //左
					case 4:
						switch(fouIndex) {
							case 1:
								break;
							case 2:
								$("#inp22").removeClass("acti");
								$("#inp11").focus().addClass("acti");
								fouIndex = 1;
								break;
							case 3:
								$("#inp33").removeClass("acti");
								$("#inp22").focus().addClass("acti");
								fouIndex = 2;
								break;
							case 4:
								$("#inp44").removeClass("acti");
								$("#inp33").focus().addClass("acti");
								fouIndex = 3;
								break;
							case 5:
								break;
							default:
								break;
						}
						break;
					case 38: //上
					case 29460:
						switch(fouIndex) {
							case 1:
								break;
							case 2:
								break;
							case 3:
								$("#inp33").removeClass("acti");
								$("#inp11").focus().addClass("acti");
								fouIndex = 1;
								break;
							case 4:
								$("#inp44").removeClass("acti");
								$("#inp22").focus().addClass("acti");
								fouIndex = 2;
								break;
							case 5:
								$("#inp44").focus().addClass("acti");
								fouIndex = 4;
								break;
							default:
								break;
						}
						break;
					case 39: //右
					case 5:
						switch(fouIndex) {
							case 1:
								$("#inp11").removeClass("acti");
								$("#inp22").focus().addClass("acti");
								fouIndex = 2;
								break;
							case 2:
								$("#inp22").removeClass("acti");
								$("#inp33").focus().addClass("acti");
								fouIndex = 3;
								break;
							case 3:
								$("#inp33").removeClass("acti");
								$("#inp44").focus().addClass("acti");
								fouIndex = 4;
								break;
							case 4:
								break;
							case 5:
								break;
							default:
								break;
						}
						break;
					case 40: //下
					case 29461:
						switch(fouIndex) {
							case 1:
								$("#inp11").removeClass("acti");
								$("#inp33").focus().addClass("acti");
								fouIndex = 3;
								break;
							case 2:
								$("#inp22").removeClass("acti");
								$("#inp44").focus().addClass("acti");
								fouIndex = 4;
								break;
							case 3:
								break;
							case 4:
								$("#inp44").blur().removeClass("acti");
								fouIndex = 5;
								break;
							case 5:
								break;
							default:
								break;
						}
						break;
					case 88: //返回
					case 8:
						window.history.go(-1);
						return false;　　　　　　　　　　　　　　　
						break;　
						
					case 45: //退出
						return false;
						break;
                    case 10009:
                        window.history.go(-1);
                        break;
					default:
						break;
				}
			}

			/*
			 * 语言
			 */
			if(window.sessionStorage.language == "zh-cn") {
				$("#top-title").html("首页 > 酒店叫车");
				$("#order").html("提交");
				$("#fromPlace").html("起始地点：");
				$("#dateForm").html("日期：");
				$("#ToCity").html("到达地点：");
				$("#time").html("时间：");
			} else {
				$("#top-title").html("Home > Hotel Cars");
				$("#order").html("Order");
				$("#fromPlace").html("from Place：");
				$("#dateForm").html("Date：");
				$("#ToCity").html("To City：");
				$("#time").html("Time：");
			}
		</script>
	</body>

</html>